* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-varient: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-varient: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: #414652;
    --transition: all 400ms ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    background-image: url(../images/bg-texture.png);
    overflow-x: hidden;
}

section:first-of-type {
    margin-top: 0px;
}

section {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.d-none {
    display: none;
}

.date {
    display: none;
}

/*side nav*/
.side-nav {
    position: fixed;
    left: 100px;
    width: 60px;
    top: 25%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    z-index: 999;
    border-radius: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.side-nav.scrolled-past-about {
    opacity: 1 !important;
}

.side-nav a {
    font-size: 1.2em;
    color: var(--color-white);
    padding: 0.8rem;
    text-decoration: none;
    display: flex;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 1s ease-in-out;
    border-radius: 50%;
}

.side-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Active class styling */
.side-nav a.active {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Tooltip for showing section name on hover */
.side-nav a:hover::after {
    content: attr(aria-placeholder);
    position: absolute;
    top: 9px;
    left: 60px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
    pointer-events: none;
    opacity: 1;
    transform: translateX(10px);
    transition: opacity 0.3s, transform 0.3s;
}

.side-nav a:hover::after {
    opacity: 1;
    transform: translateX(0);
}

/*end side nav */

.header {
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.top-nav {
    display: flex;
    gap: 2em;
    padding: 1rem;
    border-radius: 3rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, .3);
}

.top-nav li {
    list-style: none;
    font-size: 16px;
}

.top-nav a {
    text-decoration: none;
    color: var(--color-white);
    padding: 0.5em 1em;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.top-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: var(--transition);
}

.top-nav a.active {
    background: rgba(255, 255, 255, 0.1);
}

.main-content {
    max-width: 800px;
    min-width: 375px;
    padding: 2rem;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin-bottom: 1em;
}

.profile-picture img {
    margin-top: 40px;
    width: 130px;
    border-radius: 50%; /* Circular shape */
    padding: 5px; /* Adds space between the image and the border */
    border: 3px solid transparent; /* Invisible border, we'll use a background border */
    background-image: conic-gradient(from 45deg, rgba(77, 181, 255, 0.8), rgba(77, 181, 255, 0.5), rgba(77, 181, 255, 0.8)); /* Shiny gradient effect */
    background-clip: border-box; /* Ensures background only affects the border */
    animation: rotate-border 2s infinite linear; /* Continuous animation on page load */
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

/* Animation for revolving shiny border */
@keyframes rotate-border {
    0% {
        background-image: conic-gradient(from 45deg, rgba(77, 181, 255, 0.8), rgba(77, 181, 255, 0.5), rgba(77, 181, 255, 0.8));
    }
    50% {
        background-image: conic-gradient(from 90deg, rgba(77, 181, 255, 0.8), rgba(77, 181, 255, 0.5), rgba(77, 181, 255, 0.8));
    }
    100% {
        background-image: conic-gradient(from 45deg, rgba(77, 181, 255, 0.8), rgba(77, 181, 255, 0.5), rgba(77, 181, 255, 0.8));
    }
}



.banner blockquote {
    font-style: italic;
    font-weight: bold;
    color: #bbb;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 1em;
    text-align: center;
    align-content: center;
}

.banner h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2em;
}

.highlight {
    color: var(--color-primary);
    font-weight: bold;
}

.banner .cta {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
}

.banner .buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.banner .buttons i {
    margin-left: 10px;
}

.banner .contact-btn,
.banner .cv-btn {
    font-size: 20px;
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    padding: 0.90rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-bg);
    /* background-image: url(../images/bg-texture.png); */
}

.banner .contact-btn:hover,
.banner .cv-btn:hover {
    background-color: var(--color-primary);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.banner .social-links a {
    display: inline-block;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 28px;
    color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.banner .social-links a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}



/*about page*/
.about .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

#about-me p {
    line-height: 1.8rem;
}

.line {
    width: 4px;
    height: 60px;
    background-color: var(--color-light);
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 0px auto;
}

.semi-bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

#about-me h2,
#project h2,
#skill h2,
#contact h2,
#experience h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 48px;
}

/* Title text */
.about .main-content h2,
.project .main-content h2,
.skill .main-content h2 {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin: 0;
}

/*end about*/


/*project section start*/

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 4px 30px 10px var(--color-primary); /* Increased blur and spread */
    max-width: 750px;
    height: 325px;
    margin-bottom: 20px;
    color: var(--color-white);
}

/* Left side content styling */
.project-content {
    width: 50%;
    padding: 2rem;
}

.project-content h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: left;
}

.project-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
    text-align: left;
}


/* Tech stack badges styling */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tech-stack span {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3rem 0.6rem;
    border-radius: 50px;
    font-size: 12px;
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background, color, transform, and shadow */
}

/* Hover animation */
.tech-stack span:hover {
    background-color: #4DB5FF; /* Change background to blue on hover */
    color: #fff; /* Change text color to white */
    transform: scale(1.1); /* Slight zoom effect */
    box-shadow: 0 4px 12px rgba(77, 181, 255, 0.6); /* Soft blue shadow */
}

/* Right side project preview styling */
.project-preview {
    width: 50%;
}

.project-preview img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    left: 30px;
    border-radius: 0.5rem 0 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: contain;
    transition: all 0.5s ease;
    transform-origin: center center;
}

.project-preview img:hover {
    transform: scale(1.1) rotate(5deg); /* Zoom and rotate effect */
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
    opacity: 0.9; /* Slight transparency */
}

.project-preview img:hover {
    animation: pulse 1.5s ease-in-out infinite; /* Pulse animation on hover */
}

@keyframes pulse {
    0% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
        transform: scale(1.05) rotate(-5deg);
    }
    100% {
        transform: scale(1.1) rotate(5deg);
    }
}

/* Button container */
.project-buttons {
    display: flex;
    margin-top: 21px;
    margin-left: 13em;
  }
  
  /* Common button styles */
  .btn {
    padding: 12px 20px;
    font-size: 30px; /* Larger font size for icons */
    text-decoration: none;
    color: var(--color-white);
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block; /* Make sure buttons align properly */
    text-transform: none;
    display: flex; /* Flexbox to center the icon */
    cursor: pointer;
  }
  
  /* Hover effects for both buttons */
  .btn:hover {
    transform: translateY(-5px); /* Slightly lift the buttons */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    color: var(--color-primary);
  }
  
  /* Active (pressed) effect for buttons */
  .btn:active {
    transform: translateY(2px); /* Adds a press-down effect */
  }
  
.project h2 {
    margin-bottom: 30px;
}

/* .project .main-content h2,.skill .main-content h2,.experience .main-content h2{
    margin-bottom: 3rem;
} */

/*project section end*/

/*skill section start*/
.skill .skill-info .tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}


.skill .skill-info .tech-stack span {
    font-size: 20px;
    font-weight: normal;
    border-radius: 10px;
    padding: 10px 20px;
}

.skill .main-content {
    overflow-y: hidden;
}

/*skill section end*/

/*experience section start*/

.experience .main-content {
    max-width: 1300px;
}

.timeline:before {
    margin-top: 20px;
    content: '';
    position: absolute;
    height: 90%;
    left: 50%;
    width: 4px;
    top: -15px;
    background: var(--color-light);
    z-index: 1;
}

.timeline {
    position: relative;
    margin: 0px auto;
    padding: 50px 50px;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 19px 45px;
}

.timeline .right_content .content {
    background-color: #2a2a3b;
    padding: 1.3rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
}

/* .timeline .left_content .content {
    border-radius: 10px;
} */

.timeline .right_content {
    position: relative;
    display: inline-block;
    margin-top: 13px;
    margin-left: 18px;
    margin-right: 16px;
}

/* Style for odd timeline items */
.timeline li:nth-child(odd) .right_content .content::after {
    content: '';
    position: absolute;
    top: 20px;
    right: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--color-white);
}

/* Style for even timeline items */
.timeline li:nth-child(even) .right_content .content::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid var(--color-white);
}


.timeline ul li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content h3 {
    font-size: 16px;
    font-weight: 700;
    
}

.left_content {
    padding-bottom: 20px;
}

.left_content h3 {
    margin-top: 18px;
    margin-right: -50px;
    font-size: 16px;
    font-weight: 500;
}

.left h3 {
   margin-left: 50px;
   font-size: 16px;
   font-weight: 500;
}

.left1 h3 {
    margin-left: -40px;
    font-size: 16px;
    font-weight: 500;
}

.left2 h3 {
    margin-right: -60px;
    font-size: 16px;
    font-weight: 500;
}

.timeline ul li:nth-child(odd):before {
    content: '\f19d';
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 24px;
    color: var(--color-white);
    border: 4px solid var(--color-primary);
    background-color: var(--color-bg);
    padding: 10px;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -37px;
    z-index: 1;
}

.timeline ul li:nth-child(even):before {
    content: '\f0b1';
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 24px;
    color: var(--color-white);
    border: 4px solid var(--color-primary);
    background-color: var(--color-bg);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    left: -34px;
    z-index: 1;
}

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 13px 0px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 1em;

}

.timeline ul li:nth-child(even) .left_content {
    position: absolute;
    top: 22px;
    left: -199px;
    margin: 0;
    padding: 4px 16px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 1em;

}

/* experience section end */


/*contact form */
.contact {
    margin-bottom: 20px;
}
.contact-form {
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    text-align: center;
    color: var(--color-white);
}

.contact h2 {
    font-size: 1.5em;
    color: var(--color-white);
}

.contact p {
    font-size: 1em;
    color: #cccccc;
    text-align: center;
}

.contact a {
    color: var(--color-white);
    text-decoration: none;
    text-decoration: underline;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    height: 55px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3c3c50;
    color: var(--color-white);
    font-size: 1em;
    outline: none;
    border: 1px solid var(--color-primary);
}

.contact-form textarea {
    height: 200px;
    resize: vertical;
    border: 1px solid var(--color-primary);
}

.contact-form button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
    background-color: #3c3c50;
    color: white;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--color-primary)
}

.footer p {
    text-align: center;
    font-size: 12px;
    color: #6B7280;
}

/*end contact form */

@media (max-width: 1450px) {
    .side-nav {
        left: 30px;
    }
}

@media (max-width: 1100px) {
    .side-nav {
        display: none;
    }

    .date {
        display: block;
        margin-top: 10px;
    }

    .header {

        position: fixed;
        z-index: 999;

    }

    .profile-picture img {
        margin-top: 115px;
    }

    .timeline {
        width: 100%;
        padding-right: 0px;
        margin: 30px;
    }

    .timeline .right_content {
        width: 100%;
    }

    .timeline:before {
        left: 20px;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 30px;
    }

    .timeline ul li:nth-child(odd):before {
        top: -18px;
        left: -60px;
        width: 40px;
        height: 40px;
        padding: 8px;
        font-size: 18px;
    }

    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: -60px;
        width: 40px;
        height: 40px;
        padding: 8px;
        font-size: 18px;
    }

    .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content {
        top: -64px;
        left: 50px;
        right: inherit;
    }

    .timeline .right_content {
        position: relative;
        display: inline-block;
        margin-top: -27px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 13px;
    }

    .timeline li:nth-child(odd) .right_content .content::after {
        top: 20px;
        left: -6px;
        transform: rotate(180deg);
    }

    .left_content h3{
        display: none;
    }
}

@media (max-width: 768px) {
    /* .project-card {
        flex-wrap: wrap;
        padding: 2rem;
    }

    .project-content {
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }

    .project-preview {
        width: 100%;

    }

    .project-preview img {
        width: 100%;
        position: unset;
    } */

    .contact-form {
        padding: 0;
    }

    .main-content {
        padding: 1rem;
    }
}

@media screen and (max-width: 680px) {

    .line {
        display: none;
    }

    .contact-btn,
    .cv-btn {
        font-size: 16px;
        width: max-content;
        display: inline-block;
        color: var(--color-white);
        padding: 0.75rem 1.2rem;
        border-radius: 2rem;
        cursor: pointer;
        border: 1px solid var(--color-primary);
        transition: var(--transition);
        background: var(--color-bg);
    }

    .contact-btn:hover,
    .cv-btn:hover {
        background-color: var(--color-primary);
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .social-links a {
        display: inline-block;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-size: 28px;
        color: var(--color-primary);
        cursor: pointer;
        border: 1px solid var(--color-primary);
        transition: var(--transition);
    }

    .social-links a:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    .project-card {
        height: 220px;
    }

    .project-content {
        width: 100%;
        padding: 2rem;
    }

    .project-preview {
        display: none;
    }

    .project-preview img {
        display: none;
    }



    
}

@media screen and (max-width: 528px) {
    .project-card {
        height: 250px;
    }
}

@media screen and (max-width: 435px) {
    .project-card {
        height: 265px;
    }
}
@media screen and (max-width: 385px) {


    .contact-btn,
    .cv-btn {
        font-size: 12px;
        padding: 0.5rem 0.8rem;
    }

    .social-links a {
        padding: 0.3rem 0.5rem;
        font-size: 14px;
    }
    .project-card {
        height: 295px;
    }

    /* .project-content {
        width: 100%;
        margin-bottom: 1rem;
    }

    .project-preview {
        width: 100%;
        margin-bottom: 1rem;
    } */

}


@media (min-width:0px)and(max-width: 275px) {
    .top-nav {
        width: 275px !important;
        max-width: 275px;
        min-width: 275px;
    }


}

@media (max-width: 375px) {
    body {
        background-image: cover;
    }

    .top-nav {
        width: 100%;
        gap: 2px !important;
        padding: 0px;
        border-radius: 0;
    }

    .main-content {
        width: 375px !important;
        max-width: 375px !important;
        min-width: 375px !important;
        overflow-y: unset;
    }

    section {
        overflow-y: unset;
    }

    .top-nav a {
        padding: 0;
    }

    .profile-picture img {
        width: 80px;
        margin-top: 5px;
    }

    .banner blockquote,
    .banner h1 {
        font-size: 14px !important;
    }

    .banner .cta {
        flex-direction: column;
        gap: 0.3em;
    }

    .banner .buttons {
        flex-wrap: wrap;
        gap: 0.3em;
    }

    .banner .contact-btn,
    .banner .cv-btn {
        font-size: 12px !important;
    }

    .banner .social-links a {
        font-size: 20px !important;
    }
}

@media (max-width: 576px) {

    .header {
        margin-top: 0px;
        position: fixed;
        z-index: 999;
    }

    .top-nav {
        width: 100%;
        gap: 10px;
        padding: 10px;
    }



    .top-nav a {
        padding: 0.5em 0.5em;
    }

    .profile-picture img {
        margin-top: 80px;
        width: 110px !important;
    }

    .banner blockquote,
    .banner h1 {
        font-size: 18px !important;

    }



}


@media (max-width: 768px) {

    .main-content {
        width: 100% !important;
    }

    .header {
        margin-top: 0px;
        position: fixed;
    }

    .top-nav {
        width: 100%;
        gap: 1em;
        border-radius: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .top-nav li {
        font-size: 14px;
    }

    .top-nav a {
        justify-content: center;
        align-items: center;
        text-align: center;
    }




    .banner .buttons a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }





    .profile-picture img {
        margin-top: 100px;
        width: 120px;
    }

    .banner blockquote,
    .banner h1 {
        font-size: 22px !important;
    }

    .banner .cta {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1.5em;
    }

    .banner .buttons {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .banner .contact-btn,
    .banner .cv-btn {
        font-size: 14px;
    }

    .banner .social-links a {
        font-size: 24px;
    }

}


@media (max-width: 992px) {
    .main-content {
        width: 100% !important;
    }
}


@media (max-width: 1200px) {
    /* CSS Rules */
}