* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-varient: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-varient: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    background-image: url(../images/bg-texture.png);
}
.d-none{
    display: none;
}

/*side nav*/
.side-nav {
    position: fixed;
    left: 100px;
    width: 60px;
    top:25%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    z-index: 999;
    border-radius: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
} 
.side-nav.scrolled-past-about {
    opacity: 1 !important;  
}

.side-nav a {
    font-size: 1.2em;
    color: var(--color-white);
    padding: 0.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 1s ease-in-out;
    border-radius: 50%;
}
.side-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Active class styling */
.side-nav a.active {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Tooltip for showing section name on hover */
.side-nav a:hover::after {
    content: attr(aria-placeholder);
    position: absolute;
    top: 9px;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-white);
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
    pointer-events: none;
    opacity: 1;
    transform: translateX(10px);
    transition: opacity 0.3s, transform 0.3s;
}

.side-nav a:hover::after {
    opacity: 1;
    transform: translateX(0);
}
/*end side nav */

.header {
    margin-top: 20px;
    position: relative;
    width: 100%;          
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;   
}
.buttons a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.top-nav {
    display: flex;
    gap: 2em;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 3rem;
}

.top-nav li {
    list-style: none;
    font-size: 16px;
}

.top-nav a {
    text-decoration: none;
    color: var(--color-white);
    padding: 0.5em 1em;
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 20px;
}

.top-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: var(--transition);
}

.top-nav a.active {
    background:  rgba(255, 255, 255, 0.1);
}

.main-content {
    margin: 0 auto;
    text-align: center;
    padding: 2em;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    margin-top: 40px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1em;
}

blockquote {
    font-style: italic;
    font-weight: bold;
    color: #bbb;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 1em;
    text-align: center;
    align-content: center;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2em;
}

.highlight {
    color: var(--color-primary);
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;  
}

.buttons i {
    margin-left: 10px;
}

.contact-btn, .cv-btn {
    font-size: 16px;
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-bg);
    /* background-image: url(../images/bg-texture.png); */
}

.contact-btn:hover, .cv-btn:hover {
    background-color: var(--color-primary);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-links a {
    display: inline-block;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size:28px;
    color: var(--color-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.social-links a:hover {
    background-color: var(--color-primary);
    color:var(--color-white);
}



/*about page*/
.about .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.about .main-content .line {
    width: 4px;
    height: 60px; 
    background-color: rgba(255, 255, 255, 0.5); 
    margin-bottom: 10px; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
}

/* Title text */
.about .main-content h2 ,.project .main-content h2,.skill .main-content h2{
    font-size: 1.5em; 
    color: white;
    font-weight: bold;
    margin: 0;
}


/*end about*/


/*project section start*/

.project-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05); /* Light transparent background */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin-bottom: 20px;
    color: var(--color-white);
    font-family: Arial, sans-serif;
    
}

.project-preview {
    position: relative;
    overflow: hidden; /* Hide overflow */
    width: 200px; /* Set a fixed width for the container */
    height: 200px; /* Set a fixed height for the container */
    border-radius: 1rem; /* Optional: rounded corners */
}

.project-preview img {
    position: absolute;
    top: -20px;
    left: -50px;
    width: 100%; /* Ensure the image covers the container */
    height: 100%; /* Stretch image to fit container */
    object-fit: cover; /* Ensures the image scales proportionally without distortion */
}


/* Left side content styling */
.project-content {
    width: 50%;
}

.project-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: left;
}

.project-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
    text-align: left;
}


/* Tech stack badges styling */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tech-stack span {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: var(--color-white);
    font-weight: bold;
}

/* Right side project preview styling */
.project-preview {
    width: 50%;
}

.project-preview img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.project .main-content h2,.skill .main-content h2,.experience .main-content h2{
    margin-bottom: 3rem;
}

/*project section end*/

@media (max-width: 1100px){
    .side-nav {
        display: none;
    }

    .header {
     
        position: fixed;
 
    }

    .profile-picture img {
        margin-top: 115px;
    }

}

@media screen and (max-width: 680px) {

    .header {
        margin-top: 0px;
        position: fixed;
        width: 100%;          
        display: flex;
        justify-content: center; 
        align-items: center;
        text-align: center; 
    }

    .buttons a{
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .top-nav {
        display: flex;
        gap: 2em;
        background: rgba(0, 0, 0, 0.3);
        padding: 1rem;
        border-radius: 0;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        text-align: center;   
    }
    
    .top-nav li {
        list-style: none;
        font-size: 16px; 
        max-width: 60%;
    }
    
    .top-nav a {
        text-decoration: none;
        color: var(--color-white);
        padding: 0.5em 1em;
        border-radius: 20px;
        justify-content: center; 
        align-items: center;
        text-align: center;   
        max-width: 50%;
    }
    
    .top-nav a:hover {
        background: rgba(255, 255, 255, 0.1);
        transition: var(--transition);
    }
    
    .top-nav a.active {
        background:  rgba(255, 255, 255, 0.1);
    }

    .main-content {
        margin: 0 auto;
        text-align: center;
        padding: 2em;
        max-width: 800px;
        justify-content: center;
        align-items: center;
    }
    
    .profile-picture img {
        margin-top: 120px;
        width: 120px;
        border-radius: 50%;
        margin-bottom: 1em;
    }

    blockquote {
        font-style: italic;
        font-weight: bold;
        color: #bbb;
        font-size: 24px;
        text-decoration: underline;
        margin-bottom: 1em;
        text-align: center;
        align-content: center;
    }
    
    h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 2em;
    }
    
    .highlight {
        color: var(--color-primary);
        font-weight: bold;
    }
    
    .cta {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1.5em;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1em;  
    }
    
    .buttons i {
        margin-left: 10px;
    }
    
    .contact-btn, .cv-btn {
        font-size: 16px;
        width: max-content;
        display: inline-block;
        color: var(--color-white);
        padding: 0.75rem 1.2rem;
        border-radius: 2rem;
        cursor: pointer;
        border: 1px solid var(--color-primary);
        transition: var(--transition);
        background: var(--color-bg);
        /* background-image: url(../images/bg-texture.png); */
    }
    
    .contact-btn:hover, .cv-btn:hover {
        background-color: var(--color-primary);
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    
    .social-links a {
        display: inline-block;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-size:28px;
        color: var(--color-primary);
        cursor: pointer;
        border: 1px solid var(--color-primary);
        transition: var(--transition);
    }
    
    .social-links a:hover {
        background-color: var(--color-primary);
        color:var(--color-white);
    }
    
    
}

/* @media screen and (max-width: 375px) {
    .header {
        padding: 0.8rem;
    }

    .top-nav {
        gap: 0.5em;
        margin-bottom: 20px;
    }

    .top-nav li {
        font-size: 10px;
    }

    .profile-picture img {
        width: 80px;
        margin-top: 5px;
    }

    blockquote {
        font-size: 12px;
    }

    h1 {
        font-size: 12px;
        padding: 0 0.5em;
    }

    .cta {
        flex-direction: column;
        gap: 0.3em;
    }

    .buttons {
        flex-direction: column;
        gap: 0.3em;
    }

    .contact-btn, .cv-btn {
        font-size: 12px;
        padding: 0.5rem 0.8rem;
    }

    .social-links a {
        padding: 0.3rem 0.5rem;
        font-size: 14px;
    }
    .project-content {
        width: 100%;
        margin-bottom: 1rem;
    }
    .project-preview {
       width: 100%;
       margin-bottom: 1rem;
    }
   
} */
